@charset "UTF-8";


/*CARD CONTAINER*/
div[is="fwwe-cardcontainer"]{
    width:160px;
    height:260px;
    border-style:solid;
    border-width:2px;
    border-radius:1em;
	cursor:pointer;
    display:inline-block;
}

div[is="fwwe-cardcontainer"].zoom.visible:hover{
    background-color: #ccffcc;
    width:213px;
    height:347px;
    transform:rotate(0deg);
    
}

div[is="fwwe-cardcontainer"]>img{
    position:absolute;
    border-radius:1em;
    top:auto;
    bottom:auto;
    width:160px;
    height:260px;
}

div[is="fwwe-cardcontainer"].hidden{
    transform:  rotateY(180deg) ;
}
div[is="fwwe-cardcontainer"].visible .back{
    transition:opacity 0.25s steps(1);
    opacity:0;
}
div[is="fwwe-cardcontainer"].hidden .back{
    transition:opacity 0.25s steps(1);
    opacity:1;
}
div[is="fwwe-cardcontainer"].visible .face{
    transition:opacity 0.25s steps(1);
    opacity:1;
}

div[is="fwwe-cardcontainer"].hidden .face{
    transition:opacity 0.25s steps(1);
    opacity:0;
}

/*CARD*/
div[is="fwwe-card"] {
    display:block;
    /*position:absolute;*/
    width:100%;
    height:100%;
}

div[is="fwwe-card"] * {
    font-size:0.8em;
    color: blue;
    width:100%
}

div[is="fwwe-card"] div.top{
    height:7%;
}

div[is="fwwe-card"] .cost {
    opacity:0;
    display:inline;
}

div.zoom:hover .cost{
    font-size:1em;
    opacity:1;
}

div[is="fwwe-card"] h1 {
    text-transform: capitalize;
    font-size: 1em;
    font-family:"Verdana";
    font-weight:900;
    color:#300011;
    display:inline;
    margin:0;
}

div.zoom:hover h1{
    font-size:1.3em;
}


div[is="fwwe-card"] img {
    height:60%;
    border-radius:0.7em;
    border-width:1px;
}


div[is="fwwe-card"] div.typebanner{
    height:7%;
    background-color:#fbb;
    display:block;
    opacity:0;
}

div.zoom:hover div.typebanner{
    opacity:1;
}

div[is="fwwe-card"] div.typebanner>ul {
    display:inline;
}
div[is="fwwe-card"] div.typebanner>ul>li {
    display:inline;
    color:#333;
}

div[is="fwwe-card"] div.typebanner>ul.types li {
    color: #111;
    font-weight:bold;
    font-size:1em;
}

div[is="fwwe-card"] div.typebanner>ul.types:after {
    color: #111;
    font-weight:bold;
    content:": ";
}

div[is="fwwe-card"] ul.subtypes>li:after {
    color:#333;
    content:", ";
}
div[is="fwwe-card"] ul.subtypes>li:last-of-type:after {
    color:#333;
    content:"";
}


div[is="fwwe-card"] ul.effects {
    display:block;
    height:19%;
    opacity:0;
}

div.zoom:hover ul.effects{
    opacity:1;
}

div[is="fwwe-card"] ul.effects>li{
    
    display:inline;
}

div[is="fwwe-card"] p.description {
    display:none;
    opacity:0;
    font-style:italic;
    color: #444;
    font-size:1%;
}
/*
div.zoom:hover p.description {
    opacity:1;
    
}
*/
div[is="fwwe-card"] div.numbers {
    height:7%;
    display:block;
}

div[is="fwwe-card"] div.numbers>*{
    display:inline;
    margin-left:7%;
    margin-right:7%;
    text-align:center;
    font-size:1.2em;
}

div.zoom:hover div.numbers>*{
    opacity:1;
    font-size:1.4em;
}