@charset "UTF-8";


/*CARD CONTAINER*/
#battlefield{
    position:absolute;
    width:80%;
    height:50%;
    background-color:#ccc;
    top:25%;
}


#hand1{
    top:5%;
    }
    
#hand2{
    bottom:5%;
    }
    
.hand{
    position:absolute;
    width:80%;
    height:20%;
    background-color:#ddcc88;
}

div[is="card-container"]{
    width:8%;
    height:100%;
    border-style:solid;
    border-width:2px;
    border-radius:1em;
    position:relative; 
	cursor:pointer;
    display:inline-block;
    vertical-align: top;
    bottom:0;
}

div[is="card-container"].zoom.visible:hover{
    background-color: #ccffcc;
    width:24%;
    height:300%;
    bottom:200%;
    transform:rotate(0deg);
    
}

div[is="card-container"]>img{
    position:absolute;
    border-radius:1em;
    top:auto;
    bottom:auto;
    width:100%;
    height:100%;
}

div[is="card-container"].hidden{
    transform:  rotateY(180deg) ;
}
div[is="card-container"].visible .back{
    transition:opacity 0.25s steps(1);
    opacity:0;
}
div[is="card-container"].hidden .back{
    transition:opacity 0.25s steps(1);
    opacity:1;
}
div[is="card-container"].visible .face{
    transition:opacity 0.25s steps(1);
    opacity:1;
}

div[is="card-container"].hidden .face{
    transition:opacity 0.25s steps(1);
    opacity:0;
}

/*CARD*/
div[is$="card"] {
    display:block;
    /*position:absolute;*/
    width:100%;
    height:100%;
}

div[is$="card"] * {
    font-size:0.8em;
    color: blue;
    width:100%
}

div[is$="card"] div.top{
    height:7%;
}

div[is$="card"] .cost {
    opacity:0;
    display:inline;
}

div.zoom:hover .cost{
    font-size:1em;
    opacity:1;
}

div[is$="card"] h1 {
    text-transform: capitalize;
    font-size: 1em;
    font-family:"Verdana";
    font-weight:900;
    color:#300011;
    display:inline;
    margin:0;
}

div.zoom:hover h1{
    font-size:1.3em;
    text-shadow:2px 2px 0px rgba(110,40,255,0.6)
}


div[is$="card"] img {
    height:60%;
    border-radius:0.7em;
    border-width:1px;
}


div[is$="card"] div.typebanner{
    height:7%;
    background-color:#e7f9f3;
    display:block;
    opacity:0;
}

div.zoom:hover div.typebanner{
    opacity:1;
}

div[is$="card"] div.typebanner>ul {
    display:inline;
}
div[is$="card"] div.typebanner>ul>li {
    display:inline;
    color:#333;
}

div[is$="card"] div.typebanner>ul.types li {
    color: #111;
    font-weight:bold;
    font-size:1em;
}

div[is$="card"] div.typebanner>ul.types:after {
    color: #111;
    font-weight:bold;
    content:": ";
}

div[is$="card"] ul.subtypes>li:after {
    color:#333;
    content:", ";
}
div[is$="card"] ul.subtypes>li:last-of-type:after {
    color:#333;
    content:"";
}


div[is$="card"] ul.effects {
    display:block;
    height:19%;
    opacity:0;
}

div.zoom:hover ul.effects{
    opacity:1;
}

div[is$="card"] ul.effects>li{
    
    display:inline;
}

div[is$="card"] p.description {
    display:none;
    opacity:0;
    font-style:italic;
    color: #444;
    font-size:1%;
}
/*
div.zoom:hover p.description {
    opacity:1;
    
}
*/
div[is$="card"] div.numbers {
    height:7%;
    display:block;
}

div[is$="card"] div.numbers>*{
    display:inline;
    margin-left:7%;
    margin-right:7%;
    text-align:center;
    font-size:1.2em;
}

div.zoom:hover div.numbers>*{
    opacity:1;
    font-size:1.4em;
}